.codelam {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 0 15%;
  padding-bottom: 100px;
}

.flips {
    position: relative;
  }
  .flips span {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.codelam-nadpis {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    padding-top: 80px;
}

.codelam-cara-hlavni {
    width: 50%;
    height: 3px;
    background-color: black;
    color: black;
    align-items: center;
    margin-bottom: 100px;
}

.codelam-row {
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
  grid-gap: 30px;
}

.codelam-sluzby {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.codelam-sluzby h2 {
  font-weight: 900;
  margin-bottom: 5px;
}

.codelam-sluzby i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #72eb3a;
}

.codelam-sluzby:hover {
  background-color: #72eb3a;
  color: #fff;
  transform: scale(1.05);
}

.codelam-sluzby:hover i {
  color: #fff;
}

/* MENŠÍ OBRAZOVKY */
@media screen and (max-width: 1000px) {

  .codelam-row {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* GALAXY FOLD */
@media screen and (max-width: 300px) {

  .codelam-row {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}